* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

/* Header Component */

// header img
.header_image {
  background-size: cover;
  background-image: url(img/headerimg.png);
  min-height: 100vh;
}
// navigation
.nav_contents {
  background-color: transparent;
  padding-top: 40px;
  .navElem {
    float: right;
    color: #fff;
    cursor: pointer;
    ul {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      li {
        margin-right: 30px;
        list-style-type: none;
        font-size: 20px;
        font-weight: 400;

        text-transform: uppercase;
        &:nth-last-child(2) {
          //contact txt
          margin-right: 40px;
          background-color: #d5fa3b;
          color: #1e1e1e;
          padding: 5px 8px;
        }
        &:last-child {
          margin-right: 0px;
          background: url(img/globe.svg) no-repeat;
          background-size: 31px;
          color: transparent;
        }
      }
    }
  }
}
// header txt
.header_content {
  .header_text {
    color: #fff;
    display: flex;
    justify-content: center; //horizontal align
    align-items: center; //vertical align
    flex-direction: column;
    min-height: 80%;
    width: 100%;
    margin: auto;
    position: absolute;

    .header_title {
      font-size: 90px;
      font-weight: 700;
      margin-bottom: -20px;
    }

    .header_description {
      font-size: 16px;
      font-weight: 400;
      text-align: center;
    }
  }
  //header btn
  .btn_center {
    display: flex;
    justify-content: center; //horizontal align
    align-items: center; //vertical align
    flex-direction: column;
    top: 85%;
    width: 100%;
    margin: auto;
    position: absolute;
    .header_btn {
      display: inline-flex;
      background-color: #7db621;
      border: none;
      padding: 20px 35px;
      border-radius: 35px;
      cursor: pointer;

      .btn_text {
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 400;
        color: #fff;
      }
      .arrow_right {
        margin-left: 15px;
        margin-top: 2px;
      }
    }
  }
}
/* Header Component End */

/* Body Component */

.content_title {
  color: #fff;
  font-weight: 700;
  font-size: 35px;
  display: flex;
  justify-content: center; //horizontal align
  align-items: center; //vertical align
  padding-bottom: -5px;
}

.content_titleContact {
  color: #1e1e1e;
  font-weight: 700;
  font-size: 35px;
  display: flex;
  justify-content: center; //horizontal align
  align-items: center; //vertical align
  padding-bottom: -5px;
}

.content_lineUnder {
  border-color: #d5fa3b;
  border-width: 2px;
  width: 80px;
  margin-left: auto;
  margin-right: auto;
}

.edw_links {
  color: #d5fa3b;
  border-bottom: 1px solid #d5fa3b;
  text-decoration: none;
  &:hover {
    color: #a2c70a;
    text-decoration: none;
  }
}

// About us EDW
.about_us {
  background-color: #1e1e1e;
  position: relative;
  ::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background-color: #1e1e1e;
    transform-origin: bottom left;
    transform: skewY(5deg);
    z-index: -8;
  }

  .aboutus_container {
    padding-top: 120px;
    .aboutus_row {
      padding-top: 50px;
      .slogan {
        color: #fff;
        font-weight: 700;
        font-size: 20px;
        .title_edw {
          display: inline;
          color: #7db621;
        }
      }
      //Name logo,title and description
      .name_row {
        padding-top: 40px;
      }
      .nameCard_title,
      .manifestoCard_title {
        color: #7db621;
        font-weight: 700;
        font-size: 18px;
        text-transform: uppercase;
      }
      .nameCard_descript,
      .manifestoCard_descript {
        color: #fff;
        font-size: 18px;
        margin-top: -15px;
      }
      .name_logo,
      .manifesto_logo {
        padding-top: 8px;
        margin-left: -10px;
      }
      .aboutus_img img {
        width: 100%;
      }
    }
    .aboutusbtn_style {
      padding-top: 50px;
    }
    // About us btns
    .aboutus_btn {
      display: flex;
      justify-content: center; //horizontal align
      align-items: center; //vertical align
      cursor: pointer;
      margin-bottom: 100px;

      .contactus_btn {
        border: none;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 400;
        color: #fff;
        background-color: #7db621;
        padding: 15px 45px;
        border-radius: 35px;
      }
      .jobs_btn {
        font-size: 18px;
        text-transform: uppercase;
        color: #7db621;
        border: 1px solid;
        border-radius: 35px;
        padding: 15px 35px;
        background-color: transparent;
        margin-left: 50px;
      }
    }
  }
}

// Client Work
.client_work {
  // margin-top: 20px;
  // background-color: #545454;
  position: relative;
  padding: 250px 0 250px 0;
  ::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background-color: #545454;
    transform-origin: bottom left;
    transform: skewY(5deg);
    z-index: -10;
  }

  ::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #545454;
    transform-origin: top left;
    transform: skewY(-5deg);
    z-index: -10;
  }

  .clientwork_col {
    // margin-top: 250px;
    .clientwork_title {
      color: #fff;
      font-weight: 700;
      font-size: 35px;
      display: flex;
      justify-content: center; //horizontal align
      align-items: center; //vertical align
      // margin-top: 100px;
      // position: relative;
    }
  }

  .workone_logo {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
  }

  .workone_title,
  .workone_description {
    color: #fff;
  }

  .workone_title {
    font-weight: 700;
    font-size: 20px;
    padding-top: 20px;
    // display: inline-flex;
    // justify-content: center; //horizontal align
    // align-items: center; //vertical align
  }
  .workone_description {
    font-weight: 400;
    font-size: 18px;
    padding-top: 20px;
  }

  .btn_workone {
    // margin-bottom: 200px;
    display: flex;
    justify-content: center; //horizontal align
    align-items: center; //vertical align
    padding-top: 25px;
    cursor: pointer;
    .workone_btn {
      font-size: 18px;
      text-transform: uppercase;
      color: #7db621;
      border: 1px solid;
      border-radius: 35px;
      padding: 15px 35px;
      background-color: transparent;
      text-decoration: none;
    }
  }
}

// Technologies Used
.tech_used {
  // margin-top: 20px;
  // background-color: #1E1E1E;
  position: relative;
  padding-bottom: 20px;
  ::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #1e1e1e;
    transform-origin: top left;
    transform: skewY(-5deg);
    z-index: -10;
  }

  ::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #1e1e1e;
    transform: skewY(0deg);
    z-index: -10;
  }

  .techused_col {
    margin-top: 100px;
    .techused_title {
      color: #fff;
      font-weight: 700;
      font-size: 35px;
      display: flex;
      justify-content: center; //horizontal align
      align-items: center; //vertical align
    }
  }

  .content_techused,
  .content_techusedtwo {
    color: #fff;
  }
  .content_techused {
    padding-top: 100px;
  }

  .content_techusedtwo {
    padding-top: 90px;
    padding-bottom: 150px;
  }
  .techused_w3c,
  .techused_events,
  .techused_semanticweb {
    font-size: 18px;
    margin-left: -60px;
    margin-top: -20px;
    margin-right: 40px;
  }
}

.content_techusedthree {
  background-color: #545454;
  // padding-top: 100px;
  .techused_textone {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    padding-left: 60px;
    padding-right: 60px;
    padding: 80px 0 80px 0;
    text-align: center;
  }
}
//plone
.content_techusedfour {
  background-color: #1e1e1e;
  padding: 150px 0 150px 0;
  .plone_img img {
    width: 100%;
  }

  .techused_plonetitle {
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    margin-top: -5px;
    margin-left: 10px;
  }
  .techused_plonetext {
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    margin-left: 10px;
  }
  .plone_links {
    margin-top: 10px;
    .techused_plonelink {
      margin-top: -6px;
      margin-left: 10px;
    }
  }
}

//Jobs
.jobs {
  background-color: #7db621;
  padding: 150px 0 180px 0;
  .jobs_col {
    .jobs_title {
      color: #fff;
      font-weight: 700;
      font-size: 35px;
      display: flex;
      justify-content: center; //horizontal align
      align-items: center; //vertical align
    }
  }

  .jobs_content {
    margin-top: 60px;
    margin-left: -40px;
    .jobs_box {
      background-color: #fff;
      border-radius: 35px;
      padding: 80px 30px;
      // height: 450px;
      box-shadow: 0px 4px 15px rgba(30, 30, 30, 0.1);
      margin-left: 40px;
      .title_div {
        position: relative;
        // width: 200px;
        height: 80px;
        // top: -15%;
        // left: 10%;
        .jobs_title {
          color: #7db621;
          font-weight: 700;
          font-size: 20px;
          text-align: center;
          // position: absolute;
        }
      }
      .scrollbar {
        width: 100%;
        height: 180px;
        overflow: auto;
        .jobs_description {
          color: #1e1e1e;
          font-weight: 400;
          font-size: 18px;
          text-align: center;
        }
      }

      .btn_jobs {
        text-align: center;
        // position: absolute;
        // left: 25%;
        // bottom: 10%;
        padding-top: 30px;
        cursor: pointer;
        .jobs_btn {
          font-size: 18px;
          text-transform: uppercase;
          color: #7db621;
          border: 1px solid;
          border-radius: 35px;
          padding: 15px 35px;
          background-color: transparent;
          text-decoration: none;
        }
      }
    }
  }
}

//Contact us
.contact_us {
  background-color: #fff;
  padding: 150px 0 80px 0;

  .contactus_title {
    color: #1e1e1e;
    font-weight: 700;
    font-size: 35px;
    display: flex;
    justify-content: center; //horizontal align
    align-items: center; //vertical align
  }

  .contactus_text {
    color: #1e1e1e;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    padding-top: 50px;
  }
  // Map + Address Detais Row
  .contactmap_row {
    margin-top: 50px;
    // Address, Phone, Email Row
    .contactus_row {
      margin-top: 20px;
      margin-left: -30px;
      .contactus_addresstitle,
      .contactus_phonetitle,
      .contactus_emailtitle {
        font-size: 18px;
        font-weight: 700;
        color: #1e1e1e;
        margin-bottom: 5px;
      }
      .contactus_addressdescript,
      .contactus_phonedescript,
      .contactus_emaildescript {
        font-size: 17px;
        font-weight: 400;
        color: #1e1e1e;
      }
      .contactus_emaildescript {
        text-decoration: underline;
      }
    }
  }
}
/* Body Component End */

/* Footer Component */
//Social media
.footer_socialtitle {
  font-size: 20px;
  font-weight: 700;
  color: #1e1e1e;
  text-align: center;
}
.social_row {
  width: 25%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 15px;
  .fb_logo,
  .linkedin_logo {
    width: 100%;
  }
  .linkedin_logo {
    margin-left: -5px;
  }
}
.photos-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 80px;
  .photos_column {
    // overflow-x: hidden;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    img {
      width: 100%;
    }
  }
}

//Footer
.footer_black {
  background-color: #1e1e1e;
  padding: 25px 0 25px 0;

    .footerright_row {
      margin-left: -30px;
      .footer_title,
      .footer_linksone {
        font-size: 12px;
        font-weight: 400;
        color: #fff;
      }
      .footer_title {
        font-weight: 700;
        margin: 8px 0 0 0;
      }
      .footer_linksone {
        margin-top: 20px;
        margin-left: -34px;
        a {
          color: #fff;
          text-decoration: none;
        }
        :hover {
          color: #b5b5b5;
        }
      }
    }
    .footer_right {
      text-align: right;
      font-size: 12px;
      font-weight: 400;
      color: #fff;
      margin-top: 20px;
      .footer_copyright {
        margin-top: -15px;
      }
      .footer_linkstwo {
        a {
          color: #fff;
          text-decoration: none;
        }
        :hover {
          color: #b5b5b5;
        }
      }
    }

}
/* Footer Component End */

/* Media Queries */
/* Mobile Styles */
@media only screen and (max-width: 480px) {
  .nav_contents {
    .navElem {
      float: left;
      li {
        margin-right: 20px;
        font-size: 18px;
        display: list-item;
        padding: 22px 0 22px 0;
      }
    }
  }
}
/* Mobile Styles End */

/* Tablet Styles */
@media only screen and (min-width: 480px) and (max-width: 840px) {
  .nav_contents {
    .navElem {
      float: none;
      text-align: center;
      li {
        margin-right: 60px;
        font-size: 18px;
      }
    }
  }
}
/* Tablet Styles End */
/* Media Queries End */
