* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

/* Header Component */

// header img
.header_image {
  background-size: cover;
  background-image: url(headerimg.png);
  min-height: 100vh;
}
// navigation
.nav_contents {
  background-color: transparent;
  padding-top: 40px;
  .navElem {
    float: right;
    color: #fff;
    cursor: pointer;
    ul {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      li {
        margin-right: 30px;
        list-style-type: none;
        font-size: 20px;
        font-weight: 400;
        text-transform: uppercase;
        &:nth-last-child(2) {
          //contact txt
          margin-right: 40px;
          background-color: #d5fa3b;
          color: #1e1e1e;
          padding: 5px 8px;
        }
        &:last-child {
          margin-right: 0px;
          background: url(globe.svg) no-repeat;
          background-size: 31px;
          color: transparent;
        }
      }
    }
  }
}
// header txt
.header_content {
  .header_text {
    color: #fff;
    display: flex;
    justify-content: center; //horizontal align
    align-items: center; //vertical align
    flex-direction: column;
    min-height: 80%;
    width: 100%;
    margin: auto;
    position: absolute;

    .header_title {
      font-size: 90px;
      font-weight: 700;
      margin-bottom: -20px;
    }

    .header_description {
      font-size: 16px;
      font-weight: 400;
      text-align: center;
    }
  }
  //header btn
  .btn_center {
    display: flex;
    justify-content: center; //horizontal align
    align-items: center; //vertical align
    flex-direction: column;
    top: 85%;
    width: 100%;
    margin: auto;
    position: absolute;
    .header_btn {
      display: inline-flex;
      background-color: #7db621;
      border: none;
      padding: 20px 35px;
      border-radius: 35px;
      cursor: pointer;

      .btn_text {
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 400;
        color: #fff;
      }
      .arrow_right {
        margin-left: 15px;
        margin-top: 2px;
      }
    }
  }
}
/* Header Component End */

/* Body Component */

.content_lineUnder {
  border-color: #d5fa3b;
  border-width: 2px;
  width: 80px;
  margin-left: auto;
  margin-right: auto;
}

// .edw_links {
//   color: #d5fa3b;
//   border-bottom: 1px solid #d5fa3b;
//   text-decoration: none;
// }

.edw_links {
  color: #d5fa3b;
  border-bottom: 1px solid #d5fa3b;
  text-decoration: none;
  &:hover {
    color: #a2c70a;
    text-decoration: none;
  }
}

// About us EDW
.about_us {
  background-color: #1e1e1e;
  position: relative;
  ::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background-color: #1e1e1e;
    transform-origin: bottom left;
    transform: skewY(5deg);
    z-index: -8;
  }
  .aboutus_title {
    color: #fff;
    font-weight: 700;
    font-size: 35px;
    display: flex;
    justify-content: center; //horizontal align
    align-items: center; //vertical align
    padding-bottom: -5px;
  }

  .aboutus_container {
    padding-top: 120px;
    .aboutus_row {
      padding-top: 50px;
      .slogan {
        color: #fff;
        font-weight: 700;
        font-size: 20px;
        .title_edw {
          display: inline;
          color: #7db621;
        }
      }
      //Name logo,title and description
      .name_row {
        padding-top: 40px;
      }
      .nameCard_title,
      .manifestoCard_title {
        color: #7db621;
        font-weight: 700;
        font-size: 18px;
        text-transform: uppercase;
      }
      .nameCard_descript,
      .manifestoCard_descript {
        color: #fff;
        font-size: 18px;
        margin-top: -15px;
      }
      .name_logo,
      .manifesto_logo {
        padding-top: 8px;
        margin-left: -10px;
      }
      .aboutus_img img {
        width: 100%;
      }
    }
    .aboutusbtn_style {
      padding-top: 50px;
    }
    // About us btns
    .aboutus_btn {
      display: flex;
      justify-content: center; //horizontal align
      align-items: center; //vertical align
      cursor: pointer;
      margin-bottom: 100px;

      .contactus_btn {
        border: none;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 400;
        color: #fff;
        background-color: #7db621;
        padding: 15px 45px;
        border-radius: 35px;
      }
      .jobs_btn {
        font-size: 18px;
        text-transform: uppercase;
        color: #7db621;
        border: 1px solid;
        border-radius: 35px;
        padding: 15px 35px;
        background-color: transparent;
        margin-left: 50px;
      }
    }
  }
}

// Client Work
.client_work {
  // margin-top: 20px;
  // background-color: #545454;
  position: relative;
  padding-bottom: 200px;
  ::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background-color: #545454;
    transform-origin: bottom left;
    transform: skewY(5deg);
    z-index: -10;
  }

  ::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #545454;
    transform-origin: top left;
    transform: skewY(-5deg);
    z-index: -10;
  }

  .clientwork_col {
    margin-top: 220px;
    .clientwork_title {
      color: #fff;
      font-weight: 700;
      font-size: 35px;
      display: flex;
      justify-content: center; //horizontal align
      align-items: center; //vertical align
      // margin-top: 100px;
      // position: relative;
    }
  }
  .content_lineUndertwo {
    border-color: #d5fa3b;
    border-width: 2px;
    width: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -35px;
  }

  .workone_logo {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
  }

  .workone_title,
  .workone_description {
    color: #fff;
  }

  .workone_title {
    font-weight: 700;
    font-size: 20px;
    display: inline-flex;
    justify-content: center; //horizontal align
    align-items: center; //vertical align
  }
  .workone_description {
    font-weight: 400;
    font-size: 18px;
  }

  .btn_workone {
    // margin-bottom: 200px;
    display: flex;
    justify-content: center; //horizontal align
    align-items: center; //vertical align
    cursor: pointer;
    .workone_btn {
      font-size: 18px;
      text-transform: uppercase;
      color: #7db621;
      border: 1px solid;
      border-radius: 35px;
      padding: 15px 35px;
      background-color: transparent;
      text-decoration: none;
    }
  }
}

// Technologies Used
.tech_used {
  // margin-top: 20px;
  // background-color: #1E1E1E;
  position: relative;
  padding-bottom: 20px;
  ::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #1e1e1e;
    transform-origin: top left;
    transform: skewY(-5deg);
    z-index: -10;
  }

  ::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #1e1e1e;
    transform: skewY(0deg);
    z-index: -10;
  }

  .techused_col {
    margin-top: 100px;
    .techused_title {
      color: #fff;
      font-weight: 700;
      font-size: 35px;
      display: flex;
      justify-content: center; //horizontal align
      align-items: center; //vertical align
    }
    .content_lineUnderthree {
      border-color: #d5fa3b;
      border-width: 2px;
      width: 80px;
      margin-left: auto;
      margin-right: auto;
      margin-top: -35px;
    }
  }

  .content_techused,
  .content_techusedtwo {
    color: #fff;
  }
  .content_techused {
    padding-top: 100px;
  }

  .content_techusedtwo {
    padding-top: 90px;
    padding-bottom: 150px;
  }
  .techused_w3c,
  .techused_events,
  .techused_semanticweb {
    font-size: 18px;
    margin-left: -60px;
    margin-top: -20px;
    margin-right: 40px;
  }
}

.content_techusedthree {
  background-color: #545454;
  // padding-top: 100px;
  .techused_textone {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    padding-left: 60px;
    padding-right: 60px;
    padding: 80px 0 80px 0;
    text-align: center;
  }
}

.content_techusedfour {
  background-color: #1e1e1e;
  padding: 150px 0 150px 0;
  .plone_img img {
    width: 100%;
  }

  .techused_plonetitle {
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    margin-top: -5px;
  }
  .techused_plonetext {
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    margin-left: -15px;
  }
  .plone_links {
    margin-top: -10px;
    .techused_plonelink {
      margin-top: -6px;
      margin-left: -15px;
    }
  }
}

//Jobs
.jobs {
  background-color: #7db621;
  padding: 150px 0 150px 0;
  .jobs_col {
    // margin-top: 100px;
    .jobs_title {
      color: #fff;
      font-weight: 700;
      font-size: 35px;
      display: flex;
      justify-content: center; //horizontal align
      align-items: center; //vertical align
    }
    .content_lineUnderfour {
      border-color: #d5fa3b;
      border-width: 2px;
      width: 80px;
      margin-left: auto;
      margin-right: auto;
      margin-top: -45px;
    }
  }

  .jobs_content {
    margin-top: 60px;
    .jobs_box {
      background-color: #fff;
      border-radius: 35px;
      padding: 80px 40px;
      box-shadow: 0px 4px 15px rgba(30, 30, 30, 0.1);
      .jobs_titleone,
      .jobs_titletwo,
      .jobs_titlethree {
        color: #7db621;
        font-weight: 700;
        font-size: 20px;
        text-align: center;
      }
      .jobs_descriptionone,
      .jobs_descriptiontwo,
      .jobs_descriptionthree {
        color: #1e1e1e;
        font-weight: 400;
        font-size: 18px;
        text-align: center;
        margin-bottom: 35px;
      }

      .btn_jobs {
        text-align: center;
        cursor: pointer;
        .jobs_btn {
          font-size: 18px;
          text-transform: uppercase;
          color: #7db621;
          border: 1px solid;
          border-radius: 35px;
          padding: 15px 35px;
          background-color: transparent;
          text-decoration: none;
        }
      }
    }
  }
}

//Contact us
.contact_us {
  background-color: #fff;
  padding: 150px 0 150px 0;

  .contactus_title {
    color: #1e1e1e;
    font-weight: 700;
    font-size: 35px;
    display: flex;
    justify-content: center; //horizontal align
    align-items: center; //vertical align
  }
  .content_lineUnderfive {
    border-color: #d5fa3b;
    border-width: 2px;
    width: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -35px;
  }
}

/* Body Component End */

/* Footer Component */

/* Footer Component End */

/* Media Queries */
/* Mobile Styles */
@media only screen and (max-width: 480px) {
  .nav_contents {
    .navElem {
      float: left;
      li {
        margin-right: 20px;
        font-size: 18px;
        display: list-item;
        padding: 22px 0 22px 0;
      }
    }
  }
}
/* Mobile Styles End */

/* Tablet Styles */
@media only screen and (min-width: 480px) and (max-width: 840px) {
  .nav_contents {
    .navElem {
      float: none;
      text-align: center;
      li {
        margin-right: 60px;
        font-size: 18px;
      }
    }
  }
}
/* Tablet Styles End */
/* Media Queries End */
